<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:go.onelink.me</string>
		<string>applinks:cdn-exp-pf.shinezone.com</string>
		<string>applinks:cdn-mv-release.shinezone.com</string>
		<string>applinks:data-mv-release.shinezone.com</string>
		<string>applinks:mv-release.shinezone.com</string>
	</array>
</dict>
</plist>
